/*=========Main========*/
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--bn);
    font-weight: 700;
    color: var(--white);
}

p {
    font-family: var(--pt);
    font-weight: 400;
    font-size: 1.667vh;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.inactive {
    color: var(--grey) !important;
}

.active {
    background-color: var(--white) !important;
    color: #000 !important;
}

.filter {
    filter: brightness(60%);
}

.opacity {
    opacity: 0.3;
}

/*==========Head========*/

.header {
    background-color: var(--black);
}

.head-content {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

.mobile-nav {
    display: none;
}

#menu-container-full {
    width: 40%;
    justify-content: end;
}

.menu-container-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-container-item > a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--pt);
}

/*=======Item=====*/
.orange-button,
.stock-button {
    width: 21.875vw;
    height: 7.407vh;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--pt);
    font-weight: 700;
    font-size: 2.565vh;
}

.stock-button {
    background-color: inherit !important;
    border: 2px solid var(--white);
}

.orange-button:hover {
    background-color: var(--orange-hov);
}

/*========FOOTER=====*/

footer {
    display: flex;
    background-color: var(--bg-black);
    color: var(--white);
    justify-content: space-around;
}

.footer-left > h1,
.social > p {
    font-size: 2.407vh;
}

.links-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 1.389vh;
    align-items: center;
}
