input {
    border: none;
    width: 100%;
    padding: 0.463vh 0;
    border-bottom: 1px solid #000000;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

::placeholder {
    font-size: 1.481vh;
    font-family: var(--pt);
    color: var(--grey);
}

.header,
.mobile-nav {
    background-color: #000000;
}

.contact {
    width: 100%;
    display: flex;
    min-height: 88vh;
}

.contact-button {
    border: 2px solid rgba(41, 41, 41, 1);
    border-radius: 4px;
}

.main-left,
.main-right {
    width: 50%;
}

.main-left > img {
    width: 100%;
}

.center {
    max-width: 24.219vw;
    margin: 0 auto;
    margin-top: 10vh;
}

.main-right-title > h1 {
    color: #000;
}

.contact-name {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-day-time-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.contact-text {
    font-size: 1.481vh;
    color: var(--grey);
}

#peoples {
    border: none;
    width: 15px;
    text-align: center;
}

.datetime {
    width: 6.771vw;
    height: 1.852vh;
    border: none;
    padding: 0;
    margin-top: 0.185vh;
}

.submit > button {
    margin-top: 1.852vh;
}

.map {
    display: flex;
    margin: 0;
}

.map-left,
.map-right {
    width: 50%;
}

.map-title {
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 2.778vh;
}

.map-title > h1 {
    color: #000;
}

.map-right {
    width: 50vmax;
    height: 40vmax;
}

.map-right > img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .contact {
        flex-direction: column;
    }
    .main-left,
    .main-right,
    .map-left,
    .map-right {
        width: 100%;
    }
    .map {
        flex-direction: column-reverse;
    }
    .map-right {
        width: 100%;
        height: 100%;
    }
    .orange-button {
        width: 100%;
    }
    .center {
        max-width: 70vw;
        padding: 5vw;
    }
    .datetime {
        width: 20vw;
    }
}
