/*==========HEADER=========*/
.container{
    min-height: 700px;
    width: 100vw;    
}

.image-back{
    position: absolute;
    filter: brightness(60%);
}

.header{
    position: relative;
}

#intro{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-intro{
    display: flex;
    text-align: center;
    width: 777px;
}

.title-intro > h1{
    
    font-size: 96px;
    font-weight: 400;
}

/* ================GALLERY==========
.gallery{
    min-height: 500px;
}

.rest-gallery{
    display: flex;
} */