/*==========HEADER=========*/
.container {
    height: 99vh;
    width: 100vw;
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/img/img/home-bckg.png");
}

#intro {
    margin-top: 4.63vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-intro {
    display: flex;
    text-align: center;
    width: 40.469vw;
}

.title-intro > h1 {
    font-size: 8.889vh;
    font-weight: 400;
}

.stock {
    margin-top: 1.852vh;
}

/*================GALLERY==========*/
#gallery {
    display: flex;
    width: 100%;
    margin: 0;
}

.rest-gallery {
    display: flex;
}

.left-gallery {
    width: 50%;
    position: relative;
}

.right-gallery {
    width: 50%;
    max-width: 26.302vw;
    margin: 0 auto;
    margin-top: 2.778vh;
}

.title-gallery > h1 {
    color: #000000 !important;
}

.arrow:not(:last-child) {
    margin-right: 0.781vw;
}

#right-arrow {
    transform: scale(-1, 1);
}

#rewiews {
    display: flex;
    height: 70vh;
    background-image: url("../assets/img/img/page-bckg.png");
}

.back-rewiew {
    width: 100vw;
}

.back-rewiew > img {
    width: 100%;
}

.rewiews-text {
    position: relative;
    margin-top: 4.63vh;
}

.item-rewiew {
    display: flex;
    margin-left: 2.604vw;
}

#big-left-arrow {
    transform: scale(-1, 1);
}

.buttons-mob {
    display: none;
}

.rewiew {
    background-color: #fff;
    display: flex;
    min-height: 29.537vh;
    padding-top: 1.852vh;
    padding-left: 0.781vw;
    padding-right: 1.563vw;
}

.rewiew:not(:last-child) {
    margin-right: 1.042vw;
}

.rewiew-left > img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

.rewiew-right {
    display: flex;
    flex-direction: column;
    margin-left: 1.042vw;
}

.rewiew-people {
    display: flex;
    flex-direction: row;
}

.rewiew-top {
    display: flex;
    justify-content: space-between;
}

.title-rewiew {
    margin-left: 7.813vw;
}

.rewiew-name > h1 {
    color: #000 !important;
    font-size: 2.222vh;
}

.rewiew-star {
    display: flex;
    align-items: center;
}

.rewiew-text {
    font-size: 1.667vh;
}

#rewiews-mob {
    display: none;
}

.full {
    margin-top: 5.555vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*======contact======*/
.contact {
    display: flex;
    width: 100%;
}

.contact-left,
.contact-right {
    width: 50%;
}

.contact-left > img {
    width: 100%;
    height: 100%;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-right-top {
    width: 50%;
}

.contact-right-top > h1 {
    color: #000;
}

footer {
    display: flex;
    background-color: var(--bg-black);
    color: var(--white);
    justify-content: space-around;
}

.footer-left > h1,
.social > p {
    font-size: 2.407vh;
}

.links-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 0.781vw;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .container {
        background-image: url("../assets/img/img/page-bckg.png");
    }
    /*=====title======*/
    .title-intro {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .title-intro > h1 {
        font-size: 5.556vh;
        font-weight: 400;
    }
    /*=======gallery======*/
    #gallery {
        margin-bottom: 50px;
    }
    .rest-gallery {
        flex-direction: column;
    }
    .left-gallery,
    .right-gallery {
        width: 100%;
    }
    .right-gallery {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-gallery {
        padding-left: 15px;
        padding-right: 20px;
    }
    .buttons {
        display: none;
    }
    .buttons-mob {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }
    .arrow {
        border-radius: 10px;
    }
    /*=======rewiew=====*/
    #rewiews {
        display: none;
    }
    #rewiews-mob {
        display: flex;
        height: 70vh;
        background-image: url("../assets/img/img/page-bckg.png");
    }
    .rewiew {
        padding-left: 3vw;
        padding-right: 5.555vw;
    }
    .rewiew-top {
        flex-direction: column;
    }
    /*========contact=======*/
    .contact {
        flex-direction: column;
        margin-bottom: 3vh;
    }
    .contact-left,
    .contact-right {
        width: 100%;
    }
    /*=======footer=====*/
    footer {
        flex-direction: column;
    }
    .links-list {
        justify-content: flex-start;
        gap: 2vw;
    }
}
