/*==========HEADER=========*/
.container{
    min-height: 700px;
    width: 100vw;    
}

.image-back{
    position: absolute;
}



.header{
    position: relative;
}

#intro{
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-intro{
    display: flex;
    text-align: center;
    width: 777px;
}

.title-intro > h1{
    
    font-size: 96px;
    font-weight: 400;
}

/*================GALLERY==========*/
#gallery{
    display: flex;
    width: 100%;
    margin: 0;
}

.rest-gallery{
    display: flex;
}

.left-gallery{
    width: 50%;
}

.right-gallery{
    width: 50%;
    max-width: 505px;
    margin: 0 auto;
    margin-top: 30px;
}

.title-gallery > h1{
    color: #000000!important;
}

.arrow:not(:last-child){
    margin-right: 15px;
}

#right-arrow{
    transform: scale(-1, 1);
}

#rewiews{
    display: flex;
    height: 520px;
}

.back-rewiew{
    width: 100vw;
}

.back-rewiew > img{
    width: 100%;
}

.rewiews-text{
    position: relative;
    margin-top: 50px;

}

.item-rewiew{
    display: flex;
    margin-left: 50px;
}

#big-left-arrow{
    transform: scale(-1, 1);
}

.rewiew{
    background-color: #fff;
    display: flex;
    height: 319px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 30px;
}

.rewiew:not(:last-child){
    margin-right: 20px;
}

.rewiew-left > img{
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

.rewiew-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.rewiew-top{
    display: flex;
    justify-content: space-between;
}

.title-rewiew{
    margin-left: 150px;
}

.rewiew-name > h1{
    color: #000!important;
    font-size: 24px;
}

.rewiew-star{
    display: flex;
    align-items: center;
}

.rewiew-text{
    font-size: 18px;
}

.contact{
    display: flex;
    width: 100%;
}

.contact-left, .contact-right{
    width: 50%;
}

.contact-left > img{
    width: 100%;
    height: 100%;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-right-top{
    width: 50%;
}

.contact-right-top > h1{
    color: #000;
}

footer{
    display: flex;
    background-color: var(--bg-black);
    color: var(--white);
    justify-content: space-around;
}

.footer-left > h1, .social > p{
    font-size: 26px;
}

.links-list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}